@use "vendor/slick";
@use "vendor/owl.carousel";
@use "vendor/aos";
@use "vendor/fancybox";
@use "vendor/simple-line-icons";
@use "vendor/remixicon";
@use "vendor/faw";
@use "normalize";
@use "vendor/bootstrap";
@use "global";
@use "header";
@use "hero";
@use "hot_links";
@use "inner_content";
@use "styles";
@use "footer";
// @use 'mixable';
// @use "urdu";
